@import "../../styles/theme/variable";

.header{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-family: $font-manrope;
    justify-content: space-between;

    &-left{
        h3{
            font-size: 24px;
            font-weight: 700;
            line-height: 32.78px;
        }

        small{
            font-size: 14px;
            font-weight: 400;
            line-height: 23.8px;
            color: #6f7376;
        }
    }

    &-right{
        gap: 4px;
        display: flex;
        align-items: center;
        border-radius: 100px;
        background: #FF9B12;
        justify-content: center;
        padding: 9.5px 27px 9.5px 27px;

        button{
            border: none;
            outline: none;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 21px;
            background: transparent;
        }
    }

    &-amenities{
        gap: 4px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        background: #FF9B1224;
        justify-content: center;
        border: 1px solid #FF9B1236;
        padding: 9.5px 27px 9.5px 27px;

        button{
            border: none;
            outline: none;
            font-size: 13px;
            font-weight: 700;
            color: #FF9B12;
            line-height: 25px;
            background: transparent;
        }
    }
    &-approve{
        gap: 4px;
        display: flex;
        align-items: center;
        border-radius: 100px;
        background: #FF9B12;
        justify-content: center;
        padding: 9.5px 27px 9.5px 27px;

        button{
            border: none;
            outline: none;
            font-size: 14px;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 21px;
            background: transparent;
        }
    }

    &-disable{
        display: none;
    }
}

.Amenities{
    width: 694px;
}

.mt-4rem{
    margin-top: 5rem;
}