@import "../../styles/theme/variable";

.card{
    gap: .6rem;
    width: 327px;
    height: auto;
    display: flex;
    border-radius: 6px;
    padding-block: 1.3rem;
    // align-items: center;
    flex-direction: column;
    // justify-content: center;
    border: 1px solid #eee;
    
    &-top{
        display: flex;
        position: relative;
        align-items: center;
        padding-inline: 1.1rem;
        justify-content: center;

        img{
            width: 291px;
            height: 210px;
            border-radius: 6px;
            aspect-ratio: auto 291 / 210;
            border: .5px solid #d9d9d9;
        }

        &-tag{
            top: 15px;
            width: 90%;
            display: flex;
            position: absolute;
            align-items: center;
            padding-inline: .7rem;
            justify-content: space-between;

            &-blue{
                gap: 10px;
                display: flex;
                background: #fff;
                border-radius: 21px;
                align-items: center;
                padding: 2px 10px 2px 10px;

                div{
                    width: 8px;
                    height: 8px;
                    background: #0080e5;
                    border-radius: 100px;
                }

                small{
                    font-size: 10px;
                    font-weight: 600;
                    color: #0080e5;
                }
            }

            &-orange{
                gap: 10px;
                display: flex;
                background: #fff;
                border-radius: 21px;
                align-items: center;
                padding: 2px 10px 2px 10px;

                div{
                    width: 8px;
                    height: 8px;
                    background: #FF9B12;
                    border-radius: 100px;
                }

                small{
                    font-size: 10px;
                    font-weight: 600;
                    color: #FF9B12;
                }
            }

            &-green{
                gap: 10px;
                display: flex;
                background: #fff;
                border-radius: 21px;
                align-items: center;
                padding: 2px 10px 2px 10px;

                div{
                    width: 8px;
                    height: 8px;
                    background: #0ED322;
                    border-radius: 100px;
                }

                small{
                    font-size: 10px;
                    font-weight: 600;
                    color: #0ED322;
                }
            }

            &-like{
                width: 20px;
                height: 20px;
                display: flex;
                border-radius: 50%;
                background: #fff;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &-bottom{
        width: 100%;
        padding-inline: 1.2rem;

        &-detail{
            position: relative;

            p{
                font-size: 18px;
                font-weight: 700;
                line-height: 30px;
            }

            &-location{
                display: flex;
                margin-top: .5rem;
                align-items: center;
                justify-content: space-between;

                &-local{
                    gap: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-mutate{
                    gap: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}