@import "../../styles/theme/variable";

.navbar{
    top: 0;
    width: 82%;
    height: 79px;
    z-index: 9;
    position: fixed;
    font-size: 24px;
    font-weight: 800;
    color: #1a1a1a;
    line-height: 36px;
    background: #fff;
    padding-left: 4.1rem;
    padding-right: 4.5rem;
    font-family: $font-manrope;
    border-bottom: 1px solid rgba(239, 240, 240, 1);



    // align

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left{
        gap: .5rem;
        display: flex;
        align-items: center;

        &-icon{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            background: #f4f1f1;
            justify-content: center;
            border-radius: 50%;
        }

        small{
            font-size: 14px;
            font-weight: 500;
            color: #2e3031;
            line-height: 21px;
        }
    }

    &-right{
        gap: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-notification{
            width: 45px;
            height: 45px;
            display: flex;
            position: relative;
            border-radius: 50%;
            align-items: center;
            background: #F2F2F3;
            justify-content: center;

            div{
                top: .5rem;
                width: 10px;
                height: 10px;
                right: .7rem;
                position: absolute;
                border-radius: 50%;
                background: #FF9B12;
                border: 1.4px solid #FFFFFF;
            }
        }

        &-username{
            gap: .5rem;
            display: flex;
            align-items: center;

            &-profile{
                width: 45px;
                height: 45px;
                display: flex;
                border-radius: 50%;
                align-items: center;
                background: #F2F2F3;
                justify-content: center;
            }

            &-name{
                gap: .5rem;
                display: flex;
                flex-direction: column;

                p{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 10px;
                    margin: 0;
                }

                small{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 10px;
                }
            }
        }
    }
}