.sort-property{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;

    &-items{
        gap: 8px;
        width: 600px;
        display: flex;
        align-items: center;

        &-sorted{
            width: 195px;
            height: 36px;
            display: flex;
            padding: 0 .5rem;
            align-items: center;
            border-radius: 6px;
            border: 1px solid #E5E6E6;
            justify-content: space-between;

            &-types{
                list-style: none;

                &-type{
                    list-style: none;
                    display: none;
                }
            }
        }

        &-search{
            gap: 8px;
            width: 50%;
            height: 36px;
            display: flex;
            padding: 0 .5rem;
            border-radius: 6px;
            align-items: center;
            border: 1px solid #E5E6E6;
            justify-content:  flex-start;

            &-input{
                outline: none;
                border: none;
            }

            &-input::placeholder{
                color: #96999C;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
            }
        }
    }

    &-paganation{
        gap: 8px;
        display: flex;
        align-items: center;

        small{
            font-size: 12px;
            color: #6F7376;
            font-weight: 400;
            line-height: 19.2px;
        }

        &-icons{
            gap: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-icon{
                width: 24px;
                height: 24px;
                display: flex;
                border-radius: 4px;
                align-items: center;
                justify-content: center;
                border: 1px solid #EAEBEB;
            }
        }
    }
}