.table{
    width: 100%;

    &-thead{
        // gap: 12rem;
        height: 48px;
        display: flex;
        list-style: none;
        align-items: center;
        background: #f7f8f8;
        justify-content: space-between;
        padding: 13px 236px 13px 42px;

        li{
            font-size: 14px;
            font-weight: 500;
            color: #5E6164;
            // margin-right: 6rem;
            line-height: 22.4px;
        }
    }

    &-listedOrder{
        display: flex;
        flex-direction: column;

        &-list{
            // gap: 6rem;
            height: 48px;
            display: flex;
            list-style: none;
            align-items: center;
            // justify-content: space-between;
            padding: 13px 10px 13px 42px;

            li{
                font-size: 14px;
                font-weight: 500;
                color: #5E6164;
                // margin-right: 6rem;
                line-height: 22.4px;
            }

            li:nth-child(2) {
                margin-left: 5.2rem;
            }

            li:nth-child(3) {
                margin-left: 10.4rem;
            }

            li:nth-child(4) {
                margin-left: 8rem;
            }

            li:nth-child(5) {
                margin-left: 8rem;
            }

            &:nth-child(even) {
                background: #f7f8f8;
            }
        }
    }
}