.logo{
    width: 100%;
    color: #1a1a1a;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1.2px;
    padding-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(239, 240, 240, 1);
}