@import "../../styles/theme/mixin";
@import "../../styles/theme/variable";
@import "../../styles/theme/function";

.link{
  width: 246px;
  height: 49px;
  display: flex;
  color: #6f7376;
  margin-top: 1rem;
  padding-right: .5rem;
  border-radius: 5px;
  align-items: center;
  margin-inline: 1rem;
  text-decoration: none;
  justify-content: space-between;

  .sidebar-nav-link {
    display: flex;
    cursor: pointer;
    margin-left: 1.5rem;
    align-items: center;
    justify-content: flex-start;

    &-logo {
      width: toRem(18px);
      height: toRem(18px);
      display: flex;
      align-items: center;
      & svg {
        width: 100%;
        height: 100%;
      }
    }
    &-text {
      margin-left: toRem(18px);
      cursor: pointer;
      font-size: 1rem;
      text-transform: capitalize;
    }
  }
  
  &-icon{
    font-size: 10px;
    color: #6F7376;
  }

  &:hover{
    background: #f2f3f3;
  }

}



.active{
  color: #FF9B12;
  background: #f2f3f3;

  svg path{
    // fill: #FF9B12;
    stroke: #FF9B12;
    border: 1px solid #FF9B12;
  }
}

