@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$font: "Manrope", sans-serif;
$font-bold: "Manrope Bold";
$font-bolder: "Manrope Bolder";
$font-moderat: "Moderat";

// Manrope font
$font-manrope: "Manrope", sans-serif;

$col-white: #fff;
$col-dark: #000;
$col-grey: #898787;
$col-grey-2: #303030;
$col-grey-dark: #838383;
$col-grey-light: #fafafa;
$col-secondary: #f65f37;
$col-primary-light: #1f1d67;

// $col-primary: #1769fd;
$col-primary: #3434FF;
$col-light-green: #f8fafc;
$col-btn-primary: #004ab3;